.footer {
    background: #ECEEF6;
    position: relative;
}

.footer > div:first-child {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      column-gap: 60px;

      padding-top: 130px;
      padding-bottom: 220px;
  }

.footer__block_top {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;

    color: rgba(13, 10, 70, 0.8);

    display: flex;
    align-items: center;
    height: 65px;
    padding-bottom: 10px;

    position: relative;
}

.footer__block_top > img {
    width: 110px;
}

.footer__block_top:after {
     content: '';
     height: 1px;
     width: 100%;
     position: absolute;
     bottom: 0;
     left: 0;

     background: linear-gradient(270deg, #AF1B1B 0%, #E22222 100%);
}

.footer__block_links {
    padding-top: 25px;

    display: grid;
    grid-template-columns: 100%;
    row-gap: 25px;
}

.footer__block_links li, li > a {
    font-size: 14px;
    line-height: 17px;

    color: rgba(85, 83, 113, 0.8);
}

.footer__block_links li a:hover {
    color: #0D0A46;
}

.socials {
    margin-top: 25px;

    display: grid;
    grid-template-columns: repeat(3, 34px);
    column-gap: 20px;
}

.socials li a img {
    width: 34px;
    border-radius: 50%;
    box-shadow: 0 13px 18px rgba(17, 19, 35, 0.08);
}

.socials li a img:hover {
     box-shadow: -2px -2px 5px rgb(255 255 255 / 90%), 2px 2px 4px rgb(57 65 124 / 20%);
}

.gradientLine {
    height: 5px;
    width: 100%;
    padding: 0;

    background: linear-gradient(270deg, #AF1B1B 0%, #E22222 100%);
}

.footer .developedBy {
    margin-bottom: 25px;
    display: block;
    font-size: 12px;
    line-height: 15px;
    text-align: center;

    opacity: 0.8;

    color: rgba(85, 83, 113, 0.8);
}

.footer .developedBy a {
    background: linear-gradient(270deg, #AF1B1B 0%, #E22222 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media screen and (max-width: 1200px) {
    .footer > div:first-child {
          grid-template-columns: repeat(2, 1fr);
          row-gap: 40px;

          padding-top: 60px;
          padding-bottom: 40px;
    }
}

@media screen and (max-width: 767px) {
    .footer > div:first-child {
      grid-template-columns: 100%;
    }

    .footer__block:first-child {
       order: 4;
    }
}

